body {
    max-width: 100vw;
}

.gyerek {
    width: 80vw;
    margin: auto;
}

img {
    margin-top: 60px;
}

img.lent {
    margin-top: 80px;
}

.gyerek2 {
    width: 73vw;
    margin: auto;
}

/*
* hg
*/
.csempe{
    background-color: #748aa2;
    background-image: linear-gradient( #748aa2 40%, #c8b8a9 50%, #e8b156 60%);
    transition-duration: 1s;
}
.csempe:hover{
    background-image: linear-gradient( #94aac2 40%, #e8d8c9 50%, #ffd176 60%);
}

.vers {
    width: 40vw;
    margin: auto;
    font-size: 1.3rem;
}
