body {
    max-width: 100vw;
}

.gyerek {
    width: 80vw;
    margin: auto;
}

img {
    width: 200px;
}

.gyerek2 {
    width: 73vw;
    margin: auto;
}

/*
* hg
*/
.csempe{
    background-color: #748aa2;
    background-image: linear-gradient( #748aa2 40%, #c8b8a9 50%, #e8b156 60%);
    transition-duration: 1s;
}
.csempe:hover{
    background-image: linear-gradient( #94aac2 40%, #e8d8c9 50%, #ffd176 60%);
}

#vers div {
	margin-bottom: 10px;
}

#vers .verse-title {
	font-size: 1.2em;
	font-weight: bolder;	
}

#vers .verse {
    text-align: justify;
}

